
main > section > h1 {
    margin: 0dvh 45dvw 0dvh 0dvw;
    font-size: xx-large;
}

main > section > h2 {
    margin: 0dvh 15dvw 1dvh 25dvw;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main > section > a {
    max-width: 30dvw;
    display: flex;
    justify-content: center;
    font-size: large;
    box-shadow: 10px 10px rgb(0, 70, 95);
    margin: 2dvh 0 0 0;
}


img {
    max-width: 50dvw;
    margin: 0dvh 0dvw 5dvh 0dvw;
    border-radius: 2em;
    box-shadow: 10px 10px rgb(0, 70, 95);
}



@media (min-width: 600px) {
main {
    display: flex;
    flex-direction: row;
    column-gap: 10dvw;
}

section {
    max-width: 45dvw;
}

img {
    max-width: 40dvw;
    max-height: 75dvh;
    object-fit: cover;
}

main > section > h1 {
    margin: 0dvh 30dvw 0dvh 0dvw;
    font-size: 5dvh;
}

main > section > h2 {
    margin: 2dvh 0dvw 3dvh 10dvw;
    font-size: 3dvh;
}
}


